.about-better-dad-logo {
  position: relative;
    top: 0%;
    left: 0%;
    width:auto;
    height: auto;
}

.about-div {
  font-family: palatino, serif;
  background-color: #fff3e1;
  border-radius:25px;
  position: relative;
  overflow-y: scroll;
  max-height: 55%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.about-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-page {
position:absolute;
width: 100%;
height: 100%;
}

.App {
  text-align: center;
}

.app{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('../img/background_photo.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100%;
  background-color: #151414;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.better-dad-logo {
  width: 175px;
  height: auto;
  border-radius:25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.better-dad-logo-div{
  width: 100%;
  text-align: center;
}

.footer-content {
  position:absolute;
 bottom: 0;
 right: 5px;
}

.footer-div {
  color: #fff3e1;
  height: 20px;
}

.invalid-login {
  color: red;
}

.login-container {
  display: "inline-block";
  text-align: "right";
  color: black
}

.login-form {
  width: 100%;
  margin-top: 20px;
}

.login-form-content {
  position:relative;
  width:20%;
  margin-left: auto;
  margin-right: auto;
}

.logo-signin-form {
  position: relative;
  text-align: center;
}

.navigation-button-bar {
  overflow: auto;
  width: 100%;
}

.navigation-container-bar {
  position: relative;
  width: 100%;
}

.profile-content {
  position: absolute;
  width: 100%;
  background-image: url('../img/background_photo.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100%;
  background-color: #151414;
}

.offcanvas-body {
  font-family: palatino, serif;
  background-color:#fff3e1;
}

.offcanvas-title{
  font-size: 30px;
  font-weight: bold;
  color: black;
  font-family: palatino, serif;
}

.quote-content-div {
  display:inline-block;
  width: 60%;
  color: #fff3e1;
  background-color: black;
  font-family: palatino, serif;
  border-radius:25px;
  height: auto;
}

.quote-div {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
}

.quote-text {
  margin-top:2%;
  margin-bottom:2%;
  margin-right: 2%;
  margin-left: 2%;
}

.ted-video {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.username-error {
  color: red;
}

.video-inner-div {
position:relative;
height:0;
padding-bottom:56.25%;
}
.video-outer-div {
  max-width: 600px;
  margin: auto;
  ;
}

.welcome-content-div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.welcome-div {
  font-family: palatino, serif;
  background-color: #fff3e1;
  border-radius:25px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.welcome-logo {
  width: 100%;
  height: 130px;
}

.welcome-page-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}