.about-better-dad-logo {
  position: absolute;
    top: 0%;
    left: 33%;
    width: 67%;
}

.about-div {
  font-family: palatino, serif;
  background-color: #a7e852;
  border-radius:25px;
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
}

.about-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-links-div {
}

.App {
  text-align: center;
}

.app{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('../img/background_photo.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100%;
  background-color: #358f03;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.better-dad-logo {
  display: "inline-block";
  float: left;
  width: 40%;
  overflow: hidden;
}

.footer-content{
  position: relative;
  float: right;
  font-family: palatino, serif;
  position: absolute;
    bottom: 0%;
    right: 1%;
}

.footer-div {
  margin-right: 5px;
}

.invalid-login {
  color: red;
}

.login-container {
  display: "inline-block";
  text-align: "right";
  color: black
}

.login-form {
  width: 30%;
  margin: auto;
}

.login-signin-form {
  text-align: center;
}

.logo-quote {
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
}

.logo-signin-form {
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
}

.navigation-button-bar {
  overflow: auto;
  width: 38%;
  float: left;
}

.offcanvas-body {
  font-family: palatino, serif;
}

.offcanvas-title{
  font-size: 30px;
  font-weight: bold;
  color: black;
  font-family: palatino, serif;
}

.quote-div {
  overflow: hidden;
  width: 50%;
  color: black;
  float: right;
  font-family: palatino, serif;
}

.username-error {
  color: red;
}

.welcome-content-div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.welcome-div {
  font-family: palatino, serif;
  background-color: #a7e852;
  border-radius:25px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.welcome-logo {
  width: 100%;
}

.welcome-logo-spacing {
  overflow: auto;
  width: 30%;
  float: left;
}