.badge-carousel{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: palatino, serif;
}

.badge-carousel-caption{
    display: block;
    position: relative;
    top: 30px;
    bottom: auto;
    color: black;
}

.badge-title{
    text-align: center;
    top: 30px;
    bottom: block;
}

.badge-image{
    margin: auto;
    height: 125px;
}

.no-badge-carousel-caption{
    display: block;
    position: relative;
    top: -50px;
    bottom: auto;
    color: black;
    
}