.task-carousel{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: palatino, serif;
}

.task-carousel-caption{
    position: relative;
    height: 210px;
    width: 100%;
    top: -0px;
    text-align: center;
    color: black;
    background-color:  #fff3e1;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
}

.task-carousel-content {
  margin: 10px;
}

.task-title{
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  font-family: palatino, serif;
  background-color: #fff3e1;
  color: black;
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
}

.completed-card-body{
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 12px;
}

.completed-card-title{
    font-size: 16px;
    font-weight: bold;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.favorite-star{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

.checked {
    color: orange;
    font-size: 20px;
  }

  .offcanvas-header{
    background-color: #fff3e1;
  }

  .task-div {
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    background-color: #fff3e1;
  }