.task-carousel{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.task-carousel-caption{
    position: absolute;
    top: -130px;
    left: 0px;
    color: white;
}