.task-carousel{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.task-carousel-caption{
    position: relative;
    display: block;
    top: -20px;
    bottom: auto;
    color: white;
}